@import "~bulma/sass/utilities/initial-variables";

form{
    display:flex;
    flex-direction: column;
    max-width:30%;
    height:200px;
    justify-content: space-between;
}


.drop-wrapper{
    border: 1px solid black;
}


    //Loginform
.hero.is-primary {
    background-color: white !important;
}





@import "~bulma";